 body {
   margin-top: 500px;
   font-family: Arial, sans-serif;
   background-color: #f4f6f8;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .row {
   display: flex;
   flex-direction: row;
   /* justify-content: center; */
   /* flex-wrap: wrap; */

 }

 .container {
   background: white;
   padding: 80px 80px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   width: 500px;
   margin: 8px;
   text-align: left;
   border: 1px solid whitesmoke;

 }

 .fristContainer {
   margin-top: 5px;
   background: white;
   padding: 20px 30px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   width: 300px;
   margin: 8px;
   text-align: left;
   border: 1px solid whitesmoke;
 }

 h1 {
   text-align: center;
   color: #333;
 }

 label {
   display: block;
   margin-top: 10px;
   font-weight: bold;
   color: #555;
 }

 input,
 textarea {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 6px;
   box-sizing: border-box;
   font-size: 14px;
 }

 textarea {
   resize: vertical;
   min-height: 70px;
 }



 button {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   padding: 8px 12px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;

 }

 #saveBtn {
   background-color: #28a745;
   color: white;
 }

 .title {
   margin-top: 50px;
 }

 button:hover {
   opacity: 0.9;
 }

 .patient {
   width: 500px;
   padding: 80px 50px;
   row-gap: 16px;
   border-collapse: collapse;
 }

 .patient th {
   padding: 12px 15px;
   text-align: left;
   border-bottom: 1px solid #dddddd;
 }