 body {
   margin-top: 10px;
   font-family: Arial, sans-serif;
   background-color: #f4f6f8;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
 }

 .row {
   display: flex;
   flex-direction: row;
   /* justify-content: center; */
   /* flex-wrap: wrap; */

 }

 .container {
   background: white;
   padding: 80px 80px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   width: 700px;
   height: 70vh;
   margin: 8px;
   text-align: left;
   border: 1px solid whitesmoke;
   overflow-y: scroll;
   overflow-x: hidden;

 }

 .fristContainer {
   margin-top: 5px;
   background: white;
   padding: 20px 30px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   width: 300px;
   margin: 8px;
   text-align: left;
   border: 1px solid whitesmoke;
 }

 h1 {
   text-align: center;
   color: #333;
 }

 label {
   display: block;
   margin-top: 10px;
   font-weight: bold;
   color: #555;
 }

 input,
 textarea {
  width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 6px;
   box-sizing: border-box;
  
 }

 textarea {
 
   font-size: 14px;
   resize: vertical;
   min-height: 70px;
 }



 button {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   padding: 8px 12px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;

 }

 #saveBtn {
   background-color: #28a745;
   color: white;
 }

 .title {
   margin-top: 50px;
 }

 button:hover {
   opacity: 0.9;
 }

 .patient {
   width: 500px;
   padding: 80px 50px;
   row-gap: 16px;
   border-collapse: collapse;
 }

 .patient th {
   padding: 12px 15px;
   text-align: left;
   border-bottom: 1px solid #dddddd;
 }




 .patient td {
   padding: 12px 15px;
   border-bottom: 1px solid #dddddd;
 }

 @media screen and (max-width:1440px) {
   body {
     height: max-content;
     width: max-content;
   }

 }
 @media screen and (max-width:1440px) {
  .custom-modal {
    position: fixed;
    width: max-content;
    height: max-content;
    padding-top: 10px;
    left: 4em;
    top: 5px;
  }
  
 }
.custom-modal-form{
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 300px;
}

 .custom-modal {
   display: none;
   flex-direction: row;
   justify-content: wrap;
   /* z-index: 1000; */
   padding-top: 0px;
   padding-bottom: 1px;
   top: 5px;
   bottom: 1px;
   left: 4em;
   right: 4px;
   position: fixed;
   width: max-content;
   height: 100vh;
   background: white;

 }

 .custom-modal-content {
  
  height: 70vh;
   background: #fff;
   padding: 25px;
   width: max-content;
   border-radius: 10px;
   display: flex;
   justify-items: wrap;
   flex-direction: row;
   animation: popupAnim 0.3s ease;
 }

 @keyframes popupAnim {
   from {
     transform: scale(0.8);
     opacity: 0;
   }

   to {
     transform: scale(1);
     opacity: 1;
   }
 }

 .custom-close {
   float: right;
   font-size: 24px;
   cursor: pointer;
   color: #333;
 }

 .custom-close:hover {
   color: red;
 }

 .custom-input {
   width: 100%;
   padding: 10px;
   margin-top: 6px;
   margin-bottom: 14px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }

 .custom-save-btn {
   width: 100%;
   background: #28a745;
   padding: 10px;
   color: white;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-weight: bold;
 }

 .custom-save-btn:hover {
   opacity: 0.9;
 }